.flow.json.backup
[{"id":"90d806c7.1d1628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d7c9ef6.bbd512","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://FE-Z1B6O.fe.de.bosch.com:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"c42363ea.34e06","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d058ac72.3df33","type":"ui_group","z":"","name":"Default","tab":"c42363ea.34e06","disp":true,"width":"6","collapse":false},{"id":"e8d318dd.02f1b8","type":"inject","z":"90d806c7.1d1628","name":"Counter","topic":"ns=5;s=Counter1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["358f1923.013746"]]},{"id":"358f1923.013746","type":"OpcUa-Client","z":"90d806c7.1d1628","endpoint":"2d7c9ef6.bbd512","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":400,"y":420,"wires":[["ff175a44.9752d8","77a91d76.3875e4"]]},{"id":"ff175a44.9752d8","type":"switch","z":"90d806c7.1d1628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"99","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":420,"wires":[["cc6b0782.051998"]]},{"id":"77a91d76.3875e4","type":"ui_gauge","z":"90d806c7.1d1628","name":"","group":"d058ac72.3df33","order":0,"width":0,"height":0,"gtype":"donut","title":"Counter","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":340,"wires":[]},{"id":"cc6b0782.051998","type":"ui_gauge","z":"90d806c7.1d1628","name":"","group":"d058ac72.3df33","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":420,"wires":[]}]