flow.json
[{"id":"90d806c7.1d1628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d7c9ef6.bbd512","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://FE-Z1B6O.fe.de.bosch.com:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"c42363ea.34e06","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d058ac72.3df33","type":"ui_group","z":"","name":"Default","tab":"c42363ea.34e06","disp":true,"width":"6","collapse":false},{"id":"3aba26c7.fa498a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8d318dd.02f1b8","type":"inject","z":"90d806c7.1d1628","name":"Counter","topic":"ns=5;s=Counter1","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["358f1923.013746"]]},{"id":"358f1923.013746","type":"OpcUa-Client","z":"90d806c7.1d1628","endpoint":"2d7c9ef6.bbd512","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":400,"y":420,"wires":[["77a91d76.3875e4"]]},{"id":"77a91d76.3875e4","type":"ui_gauge","z":"90d806c7.1d1628","name":"","group":"d058ac72.3df33","order":0,"width":0,"height":0,"gtype":"donut","title":"Counter","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":420,"wires":[]}]